<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('partials/header') %>
    <main>
      <h2 style="margin-bottom: 20px">About This BlogSite</h2>
      <p>
        The Creator of the this BlogSite basically created this blogsite to
        share information which is valuable to the a community of people.
        <br />The BlogSite might not make sense where anyone can add and delete
        the blogs if hosted on the web, and doesn't have authentication, other
        than that it could be useful, just to share useful information that the
        creator knows and might be helpful to anyone reading the posts.<br />
        This project will be continued with authentication and admin side to
        proctor and post informations! <br />Thank you for your patience!
        Kudoos!
      </p>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
